<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <script type = "text/JavaScript">
      function AutoRefresh( t ) {
         setTimeout("location.reload(true);", t);
      }
    </script>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body  onload = "JavaScript:AutoRefresh(10000);">
    <h1><%= title %></h1>
    <p>Welcome to <%= name %></p>
    <p><%- box %></p>
    <p> <%- table %> </p>
    <a href="/logout">logout</a>
  </body>
</html>
